html {
    font-size: 16pt;
    font-family: monospace;
}

body {
    margin: 0;
}

.page {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.component-editor {
    flex-grow: 1;
}

.result {
    flex-grow: 1;
}

.card {
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 #0008;
}

.component-editor .selecting {
    background-color: #69f0ae;
}